<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hello trang</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Trang xinh gái</h1>
        <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-1/441542565_1159182435501403_6843253456420675345_n.jpg?stp=dst-jpg_s480x480&_nc_cat=109&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=bKutaRqkkF4Q7kNvgEBut6J&_nc_ht=scontent.fhan20-1.fna&oh=00_AYC1DguSa1S7gpGArRei_nehKOqO2VMtJc4t3A_PFS5B6w&oe=66DF9613" alt="Mô tả về hình ảnh">
        <p>thẻ p chứa văn bản.</p>
        <h1>các thẻ h là tiêu đề</h1>
        <h2>nhỏ dần</h2>
        <h3>nhỏ dần</h3>
        <h4>nhỏ dần</h4>
        <h5>nhỏ dần</h5>
        <h6>nhỏ dần</h6>
        
        <script src="" async defer></script>
    </body>
</html>

